const series = [{
    data: [1, 2, 4]
}];

<Chart width={400} height={400} series={series}>
  <Transform method={['transpose', 'stack']}>
    <Bars combined={true} barWidth='50%'/>
  </Transform>
</Chart>